@import '../../base.scss';

.catagoriesBar {
    padding: 0.5rem, 0rem;
    font-size: 0.8rem;

    display: flex;
    overflow-x: scroll; //per isse ek scroll bar aa jega.

    &::-webkit-scrollbar { //isse firefox ko chod kar baaki sabhi web browser se scrollbar hat jaega.
        width: 0px;
    }
    scrollbar-width: none; //isse firefox me bhi hat jaega.


    span {
        margin-right: 1rem;
        padding: 0.5rem;

        white-space: nowrap; //ise lagane se pehle ek hi span k do word uper neeche aa rahe the.
        border: 1.5px solid $text-color;
        border-radius: 999px;

        &:hover {
            background-color: #374a59;
        }

        &.active {
            color: #fff;
            background-color: #606060;
            background-color: $border-color;
        }
    }
}