@import '../../base.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem; //top-bottom left-right
    background-color: $black-primary;

    height: 10vh;
    width: 100%;

    position: fixed; //refactor
    top: 0; //refactor
    z-index: 999;

    &__menu { //& parent(header) k sath __menu ko concatinate kar dega aur bana dega header__menu jo ki original className hai.

        //now is 3-baar logo ko hu smaller screen k liye show krna chahte hai to ise hum pahle hide kar denge aur media querry me show karenge->
        display: none;
    }

    &__logo { //youtube logo
        width: 30px;
        height: 30px;
        object-fit: contain; //fitting the img within width and height, to mainatain the aspect ratio.
        display: block;
    }
    
    form {
        flex: 0.6; //since header is a flex-box, by this form will take the 60%
        display: flex;
        padding: 0.1rem;
        margin: 0.1rem;
        border-radius: 3px;
        border: 1.2px solid;
        background-color: $black-secondary; //pehle input k background transparent karo tabhi ye color dikhega.

        input {
            width: 100%;
            border: none;
            font-weight: 500;
            background: transparent;
            padding: 0.3rem;
            color: $text-color;

            &:focus {
                outline: none; //click krne per ek outline aa ja rahi thi to use hi hatana tha.
            }
        }

        button {
            padding: 0rem 1.25rem; //y x
            color: $text-color;
            background: transparent;
            border: none;
            &:focus {
                border: none;
            }
        }
    }

    &__icons {
        flex: 0.15; //will take 15% of header.
        display: flex;
        justify-content: space-around;
        align-items: center; //vertically center

        img { //avatar image
            border-radius: 50%;
            width: 40px;
            object-fit: contain; //maintaining aspect ratio
            margin-left: 5px;
        }
    }
}

@media (max-width: $breakpoint-small) {
    .header {
        padding: 1rem;
        form {
            flex: 1; //now will tkae 100%
        }

        &__menu {
            display: block;
        }

        &__logo {
            display: none;
        }

        &__icons > *:not(img){ //header__icons div me jo img tag hai use target nahi karega.
            display: none;

        }
    }
}