@import '../../base.scss';

.video {
    margin-bottom: 1rem;
    padding: 0.7rem;

    font-weight: 500;
    font-size: 0.9rem;

    cursor: pointer;

    &__top {
        margin-bottom: 0.5rem;
        // border: 2px solid yellow;
        position: relative; //ise relative duration time ko uper laane k liye kiya hai.
        img {
            width: 100%;
        }
        span{ //duration time
            position: absolute; //q ki duration ko div k uper lana hai to ise absolute aur parent ko relative krna hoga.
    
            bottom: 0.3rem; //bottom and right sets the position.
            right: 0.3rem;
    
            padding: 0.2rem;
            background: #080808ec;
            border-radius: 3px;
        }
    }

    &__title {
        margin-bottom: 0.1rem;
        color: #fff;

        //in neeche ki char lines ka matlab hai ki pehle jo title tha wo do lines me ata tha per ab isse wo ek line me aa jaega aur ko nahi screen me nahi fit wo raha hoga uski jagah ... ho jaega->
        // overflow: hidden;  
        // display: -webkit-box;
        // -webkit-line-clamp: 1;
        // -webkit-box-orient: vertical;
        //#per in char lines ka use aur bhi jagah hoga to inhe baar baar likhne se ach hai ki base.scss me hi ek function k tur per define kar de ->
        @include line-clamp(1);
    }

    &__details {
        display: flex;
        align-items: center;
    }

    &__channel {
        display: flex;
        align-items: center;
        margin: 0.5rem 0;

        img {
            width: 36px;
            height: 36px;

            border-radius: 50%;
            margin-right: 0.5rem;
            cursor: pointer;
        }
        p{
             //p tag default margin k sath ata hai to us hata do
            margin-bottom: 0;
        }
    }
    
}